@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header{
    height: auto;
}

body{
  overflow-x: hiden;
}

.cye{
  height: 550px;
  padding: 5px;
}

.bio{
  height: 300px;
  padding: 20px;
}

.contenedorcye {
  height: 600px;
  display: flex;
  align-items: center;
}

.contenedor{
  width: 100%;
}

.row, .col {
  justify-content: center;
  display: flex;
}

.grid-servicios{
  display: flex;
  gap: 1rem;
  padding: 15px;
  
}


.contenedor aside {
    height: 380px;
    background-color: rgb(180, 217, 207);
}

.contenedor h1 {
    color: white;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 50px;
    padding: 20px;
    width: 80%;
}

.contenedor h2{
  margin: 20px;
  font-size: 40px;
}

.contenedor p, .card p, a {
  color: white;
  font-family: roboto, sans-serif;
  padding: 10px;
  margin-left: 10px;
}
.card p {
  font-size: 25px;
  font-weight:100;
  width: 90%;
}

a{
  text-transform:uppercase;
  font-weight: bolder;
  font-size: 20px;
  line-height: 100px;
}

.contenedor p{
  width: 80%;
  font-weight: 200;
  font-size: 20px;
}

.col-md-5 .col-md-7{
  padding: 0px;
}
.card {
  background-color:rgb(180, 217, 207); 
}

.card-body-bio{
  height: 200px;
}

.card h5{
  color:white;
  font-size: 55px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  width: 70%;
}

.contenedor_bio p{
  margin-top: 30px;
  margin-left: 15px;
  width: 90%;
}

.presentacion_servicios h2, .presentacion_contacto h2, .presentacion_proyectos h2, .presentacion_bio h2 {
  color: white;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.presentacion_servicios p, .presentacion_contacto p, .presentacion_proyectos p, .presentacion_bio p {
  color: white;
  font-family: roboto, sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-left: 70px;
}

.color_parrafo{
  font-weight: bold;
  color: rgb(112, 196, 167);
}

.presentacion_servicios, .presentacion_contacto, .presentacion_proyectos, .presentacion_bio {
  height: 200px;
  background-color: rgb(180, 217, 207);
  color: white;
  text-align: left;
  font-family: Roboto, sans-serif;
}

.presentacion_bio_size, .presentacion_contacto_size, .presentacion_proyectos_size, .presentacion_servicios_size{
  height: 200px;
}

.cont-img {
  background-image: url(imagenes/fotoMain.png);
  background-size: cover;
  height: auto;
  display: flex;
}

.cont-img_bio {
  background-image: url(imagenes/bio.jpg);
  background-size: cover;
  height: auto;
  display: flex;
}

.contenedor-pilares{
  background-color:  rgb(47, 137, 105);
}

h2{
  color: gray;
  text-align: left;
  font-family: Roboto, sans-serif;
  padding: 20px;
  margin-left: 45px;
  width: 80%;
}
.card{
  border-radius: 0;
}

.card-title {
  font-size: 40px;
  color: gray;
  text-align: left;
  font-family: Roboto, sans-serif;
  padding: 20px;
}

.color-index {
  background-color:  rgb(180, 217, 207);
}

.btn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(180, 217, 207);
  padding: 5px;
  gap: 1rem;
  align-items: start;

}
.card-index p{
  color: gray;
}

.card-text, .grid-servicios p {
  color: gray;
  text-align: left;
  font-family: Roboto, sans-serif;
  padding: 15px;
  width: 80%;
}

.card-body-index p, .grid-servicios p {
  color: gray;
  font-size: 15px;
  margin: 10px;
}


.card-title-index {
  color: gray;
  margin: 15px;
}

.card-body-bio p{
  color:black;
  font-family: roboto, sans-serif;
  font-size: 15px;
  margin: 20px;
}

.card-title-bio {
  margin: 20px;
  width: 80%;
}

.grid-servicios h4 {
  color:black;
  font-size: 40px;
  font-weight:300;
  width: 20%;
  margin: 10px;
  margin-top: 20px;
  margin-left: 45px;
}

.grid-servicios h5 {
  color: black;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight:200;
  margin: 10px;
  margin-top: 15px;
  margin-left: 45px;
}

.grid-servicios img{
}

.grid-servicios p {
  color: gray;
  font-size: 20px;
  font-weight:300;
  width: 80%;
  margin-top: 5px;
  margin-left: 25px;
}

.card-index, .card-bio{
  background-color:rgb(217, 242, 235);
  display: flex;
  flex-direction: column;
}

aside a {
  font-family: roboto, sans-serif;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  padding: 20px;
  text-transform: uppercase;
  line-height: 100px;
}

a:hover {
  color: rgb(47, 137, 105);
}

#parte1 {
  margin-top: 0;
  background-color: white;
  color: rgb(180, 217, 207);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 40px;
  padding: 20px;
  margin-left: 20px;
  align-items: center;
}

.contenedor1 {
  height: 550px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-top: 0px;
}


.item {
  width: 100%;
  background-color: rgba(180, 217, 207, 0.363);
  border-radius: 1rem;
  overflow: hidden;
}

.item img {
  max-width: 100%;
}

.info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding-top: 20px;
}

.item p {
  color: gray;
}


.btn:hover {
  background-color: rgb(47, 137, 105);
  color: white;
}

.contenedor_proyectos {
  width: 100%;
  height: 800px;
  display: flex;
  padding: 50px;
}

.cont-img_proyectos_1 {
  background-image: url(imagenes/c2.png);
  width: 100%;
  height: 400px;
  display: flex;
  gap: 1rem;
}

.cont-img_proyectos_2 {
  background-image: url(imagenes/c3.png);
  height: 400px;
  display: flex;
  gap: 1rem;
}

.cont-img_proyectos_3 {
  background-image: url(imagenes/c4.png);
  height: 400px;
  display: flex;
  gap: 1rem;
}

.cont-img_proyectos_4 {
  background-image: url(imagenes/c5.png);
  height: 400px;
  display: flex;
}

.presentacion_contacto p{
  color:darkgreen;
  font-weight: bold;
  width: 75%;
}
  
.formulario {
  max-width: 100%;
}

.form, .contacto {
  width: 600px;
  top: 35%;
  margin-left: 60px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  color: gray;
  font-size: 18px;
  padding: 15px;
  background-color: white;
}

.contacto label, .contacto input, .contacto textarea {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.contacto label {
  font-weight: 700;
}

.contacto input:not([type=submit]), .contacto textarea {
  border: none;
  border-bottom: 2px solid rgb(112, 196, 167);
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  color: gray;
}

.contact textarea {
  min-height: 100px;
}

.input [type=submit] {
  padding: 10px;
  border: none;
  color: gray;
  font-size: 15px;
  cursor: pointer;
}

p::-moz-selection {
  background: rgb(47, 137, 105);
  color: white;
}

p::selection {
  background: rgb(47, 137, 105);
  color: white;
}

h1::-moz-selection, h2::-moz-selection,  h5::-moz-selection {
  background: rgb(47, 137, 105);
  color: white;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection {
  background: rgb(47, 137, 105);
  color: white;
}

.mas-info::-moz-selection {
  background: rgb(47, 137, 105);
  color: white;
}

.mas-info::selection {
  background: rgb(47, 137, 105);
  color: white;
}

a::-moz-selection {
  background: rgb(47, 137, 105);
  color: white;
}

a::selection {
  background: rgb(47, 137, 105);
  color: white;
}

.grilla {
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item5 item6 item7 item8"
    "item9 item10 item11 item12";
  }

.itemg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12 {
  height: 400px;
  background-position: center;
  background-size: cover;
}

.item1 {
  grid-area: item1;
  background-image: url(imagenes/1.jpg);
}

.item2 {
  grid-area: item2;
  background-image: url(imagenes/2.jpg);
}

.item3 {
  grid-area: item3;
  background-image: url(imagenes/3.jpg);
}

.item4 {
  grid-area: item4;
  background-image: url(imagenes/4.png);
}

.item5 {
  grid-area: item5;
  background-image: url(imagenes/5.jpg);
}

.item6 {
  grid-area: item6;
  background-image: url(imagenes/6.png);
}

.item7 {
  grid-area: item7;
  background-image: url(imagenes/7.jpg);
}

.item8 {
  grid-area: item8;
  background-image: url(imagenes/8.jpg);
}

.item9 {
  grid-area: item9;
  background-image: url(imagenes/9.png);
}

.item10 {
  grid-area: item10;
  background-image: url(imagenes/10.png);
}

.item11 {
  grid-area: item11;
  background-image: url(imagenes/11.jpg);
}

.item12 {
  grid-area: item12;
  background-image: url(imagenes/12.jpg);
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12 {
  filter: grayscale(1);
}

.itemg:hover{
  filter: grayscale(0);
  transform: scale(1.1);
  transition: 1s;
}


.servicios {
  width: 100%;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px;
  grid-template-areas: "serv1 serv2" "serv3 serv4" "serv5 serv6";
  grid-gap: 15px;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
}

.info p {
  font-size: 15px;
  padding: 0px;
  color: gray;
}

.footer{
  width: 100%;
  background-color: rgb(112, 196, 167);
  color: white;
  font-family:  roboto, sans-serif;
  text-align: center;
  font-size: 22px;
  padding: 20px;
}

.footer p{
  margin-bottom: 15px;
}
.footer i{
      color:white;
      letter-spacing: 20px;
      font-size: 30px;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: rgb(180, 217, 207);
  position: fixed;
  bottom: 30px;
  right: 20px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  color: white;
  border-radius: 20px;
}


@media screen and (max-width: 600px) {


 .presentacion_contacto h2 {
  margin-left: 0px ;
  }
  
.presentacion_contacto p {
    font-weight:bolder;
    width: 90%;
    font-size: 15px;
    margin-left: 20px;
  }
  .form, .contacto {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .contacto label {
    font-size: 15px;
    margin: 20px;
  }


  .card-index{
    flex-direction: column;
  }

  .grilla{
    height: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6"
    "item7"
    "item8"
    "item9"
    "item10"
    "item11"
    "item12";
  }

  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12 {
    filter: none;
  }
  .itemg:hover {
    filter: none;
    transform: none;
    transition: none;
  }

  .grid-servicios{
    display: grid;
  }

  footer {

    bottom: 0;
  }

}



/*# sourceMappingURL=estilos.css.map 