@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header{
    height: 400px;
}
.contenedor aside {
    height: 380px;
    background-color: rgb(180, 217, 207);
}
.contenedor h1 {
    color: white;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 50px;
    padding: 20px;
    width: 80%;
}

.contenedor p {
  color: white;
  font-family: roboto, sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  width: 80%;
}

.contenedor_bio p{
  margin-top: 30px;
  margin-left: 15px;
  width: 90%;
}

.presentacion_servicios h2, .presentacion_contacto h2, .presentacion_proyectos h2, .presentacion_bio h2 {
  color: white;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.presentacion_servicios p, .presentacion_contacto p, .presentacion_proyectos p, .presentacion_bio p {
  color: white;
  font-family: roboto, sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding-left: 70px;
}

.color_parrafo{
  font-weight: bold;
  color: rgb(112, 196, 167);
}

.presentacion_servicios, .presentacion_contacto, .presentacion_proyectos, .presentacion_bio {
  height: 200px;
  background-color: rgb(180, 217, 207);
  color: white;
  text-align: left;
  font-family: Roboto, sans-serif;
}

.presentacion_bio_size, .presentacion_contacto_size, .presentacion_proyectos_size, .presentacion_servicios_size{
  height: 200px;
}

.cont-img {
  background-image: url(imagenes/fotoMain.png);
  background-size: cover;
  height: auto;
  display: flex;
}

.cont-img_ic {
  background-image: url(imagenes/ic.jpg);
  background-size: cover;
  height: auto;
  display: flex;
}

.cont-img_web {
  background-image: url(imagenes/web.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
}

.cont-img_instagram {
  background-image: url(imagenes/ig.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 380px;
}

aside {
  background-color: white;
  height: 380px;
}

aside p, h2 {
  color: gray;
  text-align: left;
  font-family: Roboto, sans-serif;
  padding: 20px;
  margin-left: 45px;
  width: 80%;
}

aside a {
  font-family: roboto, sans-serif;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  padding: 20px;
  text-transform: uppercase;
  line-height: 100px;
}

aside a:hover {
  color: rgb(47, 137, 105);
}

#parte1 {
  margin-top: 0;
  background-color: white;
  color: rgb(180, 217, 207);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 40px;
  padding: 20px;
  margin-left: 20px;
  align-items: center;
}

.contenedor1 {
  height: 550px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-top: 0px;
}

.item {
  width: 100%;
  background-color: rgba(180, 217, 207, 0.363);
  border-radius: 1rem;
  overflow: hidden;
}

.item img {
  max-width: 100%;
}

.info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding-top: 20px;
}

.item p {
  color: gray;
}

.mas-info {
  gap: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(180, 217, 207);
}

.mas-info:hover {
  background-color: rgb(47, 137, 105);
  color: white;
}

.contenedor_proyectos {
  width: 100%;
  height: 800px;
  display: flex;
  padding: 50px;
}

.cont-img_proyectos_1 {
  background-image: url(imagenes/c2.png);
  width: 100%;
  height: 400px;
  display: flex;
  gap: 1rem;
}

.cont-img_proyectos_2 {
  background-image: url(imagenes/c3.png);
  height: 400px;
  display: flex;
  gap: 1rem;
}

.cont-img_proyectos_3 {
  background-image: url(imagenes/c4.png);
  height: 400px;
  display: flex;
  gap: 1rem;
}

.cont-img_proyectos_4 {
  background-image: url(imagenes/c5.png);
  height: 400px;
  display: flex;
}

.formulario {
  max-width: 100%;
}

.form, .contacto {
  width: 600px;
  top: 35%;
  margin-left: 60px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  color: gray;
  font-size: 18px;
  padding: 15px;
  background-color: white;
}

.contacto label, .contacto input, .contacto textarea {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.contacto label {
  font-weight: 700;
}

.contacto input:not([type=submit]), .contacto textarea {
  border: none;
  border-bottom: 2px solid rgb(112, 196, 167);
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  color: gray;
}

.contact textarea {
  min-height: 100px;
}

.input [type=submit] {
  padding: 10px;
  border: none;
  color: gray;
  font-size: 15px;
  cursor: pointer;
}

p::-moz-selection {
  background: rgb(47, 137, 105);
  color: white;
}

p::selection {
  background: rgb(47, 137, 105);
  color: white;
}

h1::-moz-selection {
  background: rgb(47, 137, 105);
  color: white;
}

h1::selection {
  background: rgb(47, 137, 105);
  color: white;
}

h2::-moz-selection {
  background: rgb(47, 137, 105);
  color: white;
}

h2::selection {
  background: rgb(47, 137, 105);
  color: white;
}

.mas-info::-moz-selection {
  background: rgb(47, 137, 105);
  color: white;
}

.mas-info::selection {
  background: rgb(47, 137, 105);
  color: white;
}

a::-moz-selection {
  background: rgb(47, 137, 105);
  color: white;
}

a::selection {
  background: rgb(47, 137, 105);
  color: white;
}

.grilla {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: repeat(3, 400px);
  grid-template-areas:
  "foto1 foto2 foto3 foto4"
  "foto5 foto6 foto7 foto8"
  "foto9 foto10 foto11 foto12";
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.itemg {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.itemg:hover{
  filter: grayscale(0);
  transform: scale(1.1);
  transition: 1s;
}

.item1 {
  grid-area: foto1;
  background-image: url(imagenes/1.jpg);
}

.item2 {
  grid-area: foto2;
  background-image: url(imagenes/2.jpg);
}

.item3 {
  grid-area: foto3;
  background-image: url(imagenes/3.jpg);
}

.item4 {
  grid-area: foto4;
  background-image: url(imagenes/4.png);
}

.item5 {
  grid-area: foto5;
  background-image: url(imagenes/5.jpg);
}

.item6 {
  grid-area: foto6;
  background-image: url(imagenes/6.png);
}

.item7 {
  grid-area: foto7;
  background-image: url(imagenes/7.jpg);
}

.item8 {
  grid-area: foto8;
  background-image: url(imagenes/8.jpg);
}

.item9 {
  grid-area: foto9;
  background-image: url(imagenes/9.png);
}

.item10 {
  grid-area: foto10;
  background-image: url(imagenes/10.png);
}

.item11 {
  grid-area: foto11;
  background-image: url(imagenes/11.jpg);
}

.item12 {
  grid-area: foto12;
  background-image: url(imagenes/12.jpg);
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12 {
  filter: grayscale(1);
}


.cont-img_bio {
  max-width: 100%;
  background-image: url(imagenes/bio.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.contenedor-pilares {
  background-color: rgb(89, 153, 131);
  height: 100px;
}

.contenedor-pilares h2 {
  color: white;
}

.pilares {
  height: 350px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.pilar {
  height: 300px;
  width: 100%;
  background-color: rgba(180, 217, 207, 0.363);
  overflow: hidden;
  margin-top: 20px;
}

.servicios {
  width: 100%;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px;
  grid-template-areas: "serv1 serv2" "serv3 serv4" "serv5 serv6";
  grid-gap: 15px;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
}

.info p {
  font-size: 15px;
  padding: 0px;
  color: gray;
}

footer {
  margin-top: 0px;
  position: fixed bottom;
  background-color: rgb(112, 196, 167);
  color: white;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

footer p {
  margin-bottom: 20px;
}

footer i {
  font-size: 20px;
  letter-spacing: 10px;
  color: white;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: rgb(180, 217, 207);
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .aside {
    height: 800px;
    background-color: rgb(180, 217, 207);
  }

  .contenedor_proyectos {
    flex-direction: column;
    text-align: center;
  };
.presentacion_contacto{
    height: 100vh;
}
.presentacion_contacto p{
    padding: 20px;
    text-align: center;
}
  .form, .contacto {
    width: 100%;
  
  
  }
  .contacto label {
    font-size: 15px;
    padding: 5px;
  }
  .container-fluid .contenedor1{
    display: flex;
    flex-direction: row;
  }

  .grilla {
    grid-template-columns: 350px;
    grid-template-rows: 350px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-areas:
    "foto1"
    "foto2"
    "foto3"
    "foto4"
    "foto5"
    "foto6"
    "foto7"
    "foto8"
    "foto9"
    "foto10"
    "foto11"
    "foto12";
  }
  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12 {
    filter: none;
  }
  .itemg:hover {
    filter: none;
    transform: none;
    transition: none;
  }

  footer { 
  padding: 10px;
  }

  footer p{
    font-size: 70%;
  }
  .pilares {
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  .contenedor-pilares h2 {
    color: white;
    text-align: center;
    align-items: center;
  }
}

/*# sourceMappingURL=estilos.css.map 